class Iproute4mac < Formula
  include Language::Python::Virtualenv

  desc "CLI wrapper for iproute2 Linux routing utilities"
  homepage "https://pypi.org/project/iproute4mac/"
  url "https://pypi.io/packages/source/i/iproute4mac/iproute4mac-{{ version }}.tar.gz"
  sha256 "{{ sha256 }}"
  head "https://github.com/signal-09/iproute4mac.git", branch: "master"
  license "Apache-2.0"

  depends_on :macos
  depends_on "python@3.12"

  conflicts_with "iproute2mac", because: "both provide same executables"
{%- for item in requirements %}

  resource "{{ item.name }}" do
    url "{{ item.url }}"
    sha256 "{{ item.sha256 }}"
  end
{%- endfor %}

  def install
    virtualenv_install_with_resources
    share.install prefix/"libexec/share/man" if !Dir[prefix/"libexec/share/man"].empty?
  end

  test do
    output = shell_output("#{bin}/ip addr").strip
    assert_match "link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00", output
  end
end
