name: Update releases

on:
  workflow_dispatch:
  repository_dispatch:
    types: [update-releases]

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.14"

    - name: Install dependencies
      run: |
        #python -m pip install --upgrade pip
        python -m pip install -r requirements.txt

    - name: Update Formulae
      run: |
        git config --global user.name 'Ettore Simone'
        git config --global user.email 'signal-09@users.noreply.github.com'

        for TEMPLATE in Formula/*.rb.j2; do
            PACKAGE=$(basename ${TEMPLATE%%.*})

            COMMENT=$(python tools/update_formula.py ${PACKAGE})

            if $(git status --porcelain | grep -q '^ M'); then
                git commit -am "${COMMENT}"
                git push
            fi
        done
